[submodule "music-generation/musegan"]
	path = music-generation/musegan
	url = https://github.com/salu133445/musegan.git
[submodule "music-generation/MusicTransformer-Pytorch"]
	path = music-generation/MusicTransformer-Pytorch
	url = https://github.com/gwinndr/MusicTransformer-Pytorch.git
[submodule "audio-compare"]
	path = audio-compare
	url = https://github.com/kdave/audio-compare.git
[submodule "demucs"]
	path = demucs
	url = https://github.com/facebookresearch/demucs.git
[submodule "audio-cross-correlation"]
	path = audio-cross-correlation
	url = https://github.com/otrenav/audio-cross-correlation.git
